In [ ]:
import numpy as np

# Clean Metropolitan data

In [ ]:
# for years 2007-2017
usecols_v1 = [0,1,2,3,4,7]
columns_v1 = ['FIPS Code', 'MSA Description', 'NAICS Code', 'NAICS Description',
       'Enterprise Employment Size',
        'Employment']

def clean_v1(df_y):
    df_y = df_y.drop([0,1])
    df_y.columns = columns_v1
    df_y = df_y.where( df_y['Enterprise Employment Size']== df_y['Enterprise Employment Size'].iloc[0] ).dropna()
    df_y.rename(columns={'Employment':'Total Employment'},inplace=True)
    del df_y['Enterprise Employment Size']
    return df_y

# for years 1998-2007
usecols_v2 = list(range(6))
columns_v2 = ['FIPS Code', 'MSA Description', 'NAICS Code', 
              'NAICS Description', 'Size Measure', 'Total']

def clean_v2(df_y):
    #df_y = df_y.drop([0,1])
    df_y.columns = columns_v2
    #df_y['FIPS Code'] = df_y['FIPS Code'].astype('int64')
    df_y = df_y.where( df_y['Size Measure']== 'Employment' ).dropna()
    del df_y['Size Measure']
    df_y.rename(columns={'Total':'Total Employment'},inplace=True)
    return df_y

# for 1997
def clean_v3(df_y):
    #df_y = df_y.drop([0,1])
    df_y.columns = columns_v2
    #df_y['FIPS Code'] = pd.to_numeric(df_y['FIPS Code'],downcast='integer',errors='coerce') #astype('int64')
    df_y['NAICS Code'] = df_y['NAICS Code'].map(lambda x: x[:2])
    df_y = df_y.where( df_y['Size Measure']== 'Employment' ).dropna()
    del df_y['Size Measure']
    df_y.rename(columns={'Total':'Total Employment'},inplace=True)
    return df_y

## Read and clean: level 1
- gather only total employment data

In [ ]:
df={}

# reading data and cleaning
df_1 = pd.read_excel('data/msa/msa_naicssector_2017.xlsx',skiprows=5,usecols=usecols_v1)
df[2017] = clean_v1(df_1)

df_1 = pd.read_excel('data/msa/msa_naicssector_2016.xlsx',skiprows=5,usecols=usecols_v1)
df[2016] = clean_v1(df_1)

df_1 = pd.read_excel('data/msa/msa_naicssector_2015.xlsx',skiprows=4,usecols=usecols_v1)
df[2015] = clean_v1(df_1)

df_1 = pd.read_excel('data/msa/msa_naicssector_2014.xlsx',skiprows=4,usecols=usecols_v1)
df[2014] = clean_v1(df_1)

df_1 = pd.read_excel('data/msa/msa_naicssector_2013.xlsx',skiprows=4,usecols=usecols_v1)
df[2013] = clean_v1(df_1)

df_1 = pd.read_excel('data/msa/msa_naicssector_2012.xlsx',skiprows=5,usecols=usecols_v1)
df[2012] = clean_v1(df_1)

df_1 = pd.read_excel('data/msa/msa_abbevillela-glasgowky_naicssector_2011.xls',skiprows=5,usecols=usecols_v1)
df_2 = pd.read_excel('data/msa/msa_glensfallsny-owensboroky_naicssector_2011.xls',skiprows=5,usecols=usecols_v1)
df_3 = pd.read_excel('data/msa/msa_owossomi-zanesvilleoh_naicssector_2011.xls',skiprows=5,usecols=usecols_v1)
df[2011] = pd.concat([clean_v1(df_1),clean_v1(df_2),clean_v1(df_3)])

df_1 = pd.read_excel('data/msa/msa_naicssector_2010.xlsx',skiprows=5,usecols=usecols_v1)
df[2010] = clean_v1(df_1)

df_1 = pd.read_excel('data/msa/msa_naicssector_2009.xlsx',skiprows=5,usecols=usecols_v1)
df[2009] = clean_v1(df_1)

df_1 = pd.read_excel('data/msa/msa_abbevillela-glasgowky_naicssector_2008.xls',skiprows=5,usecols=usecols_v1)
df_2 = pd.read_excel('data/msa/msa_glensfallsny-owensboroky_naicssector_2008.xls',skiprows=5,usecols=usecols_v1)
df_3 = pd.read_excel('data/msa/msa_owossomi-zanesvilleoh_naicssector_2008.xls',skiprows=5,usecols=usecols_v1)
df[2008] = pd.concat([clean_v1(df_1),clean_v1(df_2),clean_v1(df_3)])

df_1 = pd.read_excel('data/msa/msa_abbevillela-glasgowky_naicssector_2007.xls',skiprows=5,usecols=usecols_v1)
df_2 = pd.read_excel('data/msa/msa_glensfallsny-owensboroky_naicssector_2007.xls',skiprows=6,usecols=usecols_v1)
df_3 = pd.read_excel('data/msa/msa_owossomi-zanesvilleoh_naicssector_2007.xls',skiprows=5,usecols=usecols_v1)
df[2007] = pd.concat([clean_v1(df_1),clean_v1(df_2),clean_v1(df_3)])

df_1 = pd.read_excel('data/msa/msa_abbevillela-lawrenceburgtn_naicssector_2006.xls',skiprows=8,usecols=usecols_v2)
df_2 = pd.read_excel('data/msa/msa_lawtonok-zanesvilleoh_naicssector_2006.xls',skiprows=8,usecols=usecols_v2)
df[2006] = pd.concat([clean_v2(df_1),clean_v2(df_2)])

df_1 = pd.read_excel('data/msa/msa_abbevillela-lawrenceburgtn_naicssector_2005.xls',skiprows=8,usecols=usecols_v2)
df_2 = pd.read_excel('data/msa/msa_lawtonok-zanesvilleoh_naicssector_2005.xls',skiprows=8,usecols=usecols_v2)
df[2005] = pd.concat([clean_v2(df_1),clean_v2(df_2)])

df_1 = pd.read_excel('data/msa/msa_abbevillela-lawrenceburgtn_naicssector_2004.xls',skiprows=8,usecols=usecols_v2)
df_2 = pd.read_excel('data/msa/msa_lawtonok-zanesvilleoh_naicssector_2004.xls',skiprows=8,usecols=usecols_v2)
df[2004] = pd.concat([clean_v2(df_1),clean_v2(df_2)])

df_1 = pd.read_excel('data/msa/msa_abbevillela-lawrenceburgtn_naicssector_2003.xls',skiprows=8,usecols=usecols_v2)
df_2 = pd.read_excel('data/msa/msa_lawtonok-zanesvilleoh_naicssector_2003.xls',skiprows=8,usecols=usecols_v2)
df[2003] = pd.concat([clean_v2(df_1),clean_v2(df_2)])

df_1 = pd.read_excel('data/msa/msa_abilenetx-lansingmi_naicssector_2002.xls',skiprows=7,usecols=usecols_v2)
df_2 = pd.read_excel('data/msa/msa_laredotx-yumaaz_naicssector_2002.xls',skiprows=7,usecols=usecols_v2)
df[2002] = pd.concat([clean_v2(df_1),clean_v2(df_2)])

df_1= pd.read_excel('data/msa/msa_naicssector_2001.xls',skiprows=7,usecols=usecols_v2)
df[2001] = clean_v2(df_1)

df_1= pd.read_excel('data/msa/msa_naicssector_2000.xls',skiprows=7,usecols=usecols_v2)
df[2000] = clean_v2(df_1)

df_1= pd.read_excel('data/msa/msa_naicssector_1999.xls',skiprows=7,usecols=usecols_v2)
df[1999] = clean_v2(df_1)

df_1= pd.read_excel('data/msa/msa_naicssector_1998.xls',skiprows=7,usecols=usecols_v2)
df[1998] = clean_v2(df_1)

df_1= pd.read_excel('data/msa/msa_sicmajorindustry_1997.xls',skiprows=7,usecols=usecols_v2)
df[1997] = clean_v3(df_1)

- Get rid of useless data

In [ ]:
for year in range(1997,2018):
    df[year]['Total Employment'] = pd.to_numeric( df[year]['Total Employment'],downcast='integer',errors='coerce' )
    df[year] = df[year].dropna()
    df[year].rename(columns= {'Total Employment':'Total Employment - '+str(year)} ,inplace=True)
    
    del df[year]['FIPS Code'], df[year]['NAICS Description']

## clean: level 2
- standardize MSA names

### utilities

In [ ]:
MSA_df = pd.read_csv('data/MSA_wikipedia.csv',delimiter='\t')

MSAs = MSA_df['Metropolitan statistical area ']
MSA_shorts = MSAs.map(lambda x: x.split(',')[0].split('-')[0].lower() )
MSA_shorts_dict = {MSA_shorts.iloc[i]:
                   {'MSA': MSAs.iloc[i][:-1],
                    'State': MSAs.iloc[i].split(', ')[1].split(' ')[0] } for i in range(len(MSAs))  }


state_abbr_df = pd.read_csv('data/state_abbr.csv',delimiter='\t',names=['State','Abbr.'])
state_to_abbr_dict = { state_abbr_df['State'].iloc[i].title()[0:-1] :state_abbr_df['Abbr.'].iloc[i] for i in range(len(state_abbr_df)) }
state_to_abbr_dict['United States'] = 'US'

abbr_to_state_dict ={ v:k for k,v in state_to_abbr_dict.items()}

MSA_to_state_dict = { MSAs.iloc[i][:-1]: MSAs.iloc[i].split(', ')[1].split(' ')[0]  for i in range(len(MSAs))  }

In [ ]:
# for 1997-2002
def standard_MSA_v1(string):
    for short in MSA_shorts_dict.keys():
        if (short in string.lower()) and string.split(', ')[1].split(' ')[0]==MSA_shorts_dict[short]['State']:
            return MSA_shorts_dict[short]
    return { 'MSA':None, 'State':None }
# for 2003-2017
def standard_MSA_v2(string):
    if 'micro' in string.lower():
        return { 'MSA':None, 'State':None }
    for short in MSA_shorts_dict.keys():
        if (short in string.lower()) and string.split(', ')[1].split(' ')[0]==MSA_shorts_dict[short]['State']:
            return MSA_shorts_dict[short]
    return { 'MSA':None, 'State':None }

In [ ]:
for year in range(1998,2003):
    df[year]['MSA'] = df[year]['MSA Description'].map( lambda x: standard_MSA_v1(x)['MSA'] )
    #df[year]['State'] = df[year]['MSA Description'].map( lambda x: standard_MSA_v1(x)[1] )
    df[year] = df[year][ ~df[year]['MSA'].isna() ] 
    del df[year]['MSA Description']
        
for year in range(2003,2018):
    df[year]['MSA'] = df[year]['MSA Description'].map( lambda x: standard_MSA_v2(x)['MSA'] )
    #df[year]['State'] = df[year]['MSA Description'].map( lambda x: standard_MSA_v2(x)[1] )
    df[year] = df[year][ ~df[year]['MSA'].isna() ] 
    del df[year]['MSA Description']

## Save cleaned data

In [ ]:
for year in range(1997,2018):
    df[year].to_csv('data/cleaned/msa_naicssector_cleaned_totEmploy_'+str(year)+'.csv',index=False)

# Clean state and country data

## State clean tools

In [ ]:
# for years 2007-2017
usecols_v1 = [1,2,3,4,7]
columns_v1 = [ 'State', 'NAICS Code', 'NAICS Description',
       'Enterprise Employment Size',
        'Employment']

def clean_v1(df_y):
    df_y = df_y.drop([0,1])
    df_y.columns = columns_v1
    df_y = df_y.where( df_y['Enterprise Employment Size']== df_y['Enterprise Employment Size'].iloc[0] ).dropna()
    df_y.rename(columns={'Employment':'Total Employment'},inplace=True)
    del df_y['Enterprise Employment Size']
    return df_y

# for years -2006
usecols_v2 = list(range(5))
columns_v2 = [ 'State', 'NAICS Code', 
              'NAICS Description', 'Size Measure', 'Total']

def clean_v2(df_y):
    #df_y = df_y.drop([0,1])
    df_y.columns = columns_v2
    #df_y['FIPS Code'] = df_y['FIPS Code'].astype('int64')
    df_y = df_y.where( df_y['Size Measure']== 'Employment' ).dropna()
    del df_y['Size Measure']
    df_y.rename(columns={'Total':'Total Employment'},inplace=True)
    return df_y

## Country clean tools

In [ ]:
# for years 2007-2010
usecols_us_v1 = [0,1,2,5]
columns_us_v1 = ['NAICS Code', 'NAICS Description',
       'Enterprise Employment Size',
        'Employment']
def clean_us_v1(df_y):
    df_y = df_y.drop([0,1])
    df_y.columns = columns_us_v1
    #df_y['FIPS Code'] = pd.Series( ['00'] ).repeat( len(df_y) ).reset_index(drop=True)
    df_y['State'] = pd.Series( ['United States'] ).repeat( len(df_y) ).reset_index(drop=True)
    df_y = df_y.where( df_y['Enterprise Employment Size']== df_y['Enterprise Employment Size'].iloc[0] ).dropna()
    df_y.rename(columns={'Employment':'Total Employment'},inplace=True)
    del df_y['Enterprise Employment Size']
    return df_y

# for years 1998-2006
usecols_us_v2 = [0,1,2,3]
columns_us_v2 = [ 'NAICS Code', 
              'NAICS Description', 'Size Measure', 'Total']
def clean_us_v2(df_y):
    df_y.columns = columns_us_v2
    #df_y['FIPS Code'] = pd.Series( ['00'] ).repeat( len(df_y) ).reset_index(drop=True)
    df_y['State'] = pd.Series( ['United States'] ).repeat( len(df_y) ).reset_index(drop=True)
    df_y = df_y.where( df_y['Size Measure']== 'Employment' ).dropna()
    del df_y['Size Measure']
    df_y.rename(columns={'Total':'Total Employment'},inplace=True)
    return df_y

## reading and cleaning

In [ ]:
df_state={}

df_1 = pd.read_excel('data/state/us_state_naicssector_small_emplsize_2017.xlsx',skiprows=6,usecols=usecols_v1)
df_state[2017] = clean_v1(df_1)

df_1 = pd.read_excel('data/state/us_state_naicssector_small_emplsize_2016.xlsx',skiprows=6,usecols=usecols_v1)
df_state[2016] = clean_v1(df_1)

df_1 = pd.read_excel('data/state/us_state_naicssector_small_emplsize_2015.xlsx',skiprows=5,usecols=usecols_v1)
df_state[2015] = clean_v1(df_1)

df_1 = pd.read_excel('data/state/us_state_naicssector_small_emplsize_2014.xlsx',skiprows=5,usecols=usecols_v1)
df_state[2014] = clean_v1(df_1)

df_1 = pd.read_excel('data/state/us_state_naicssector_small_emplsize_2013.xls',skiprows=5,usecols=usecols_v1)
df_state[2013] = clean_v1(df_1)

df_1 = pd.read_excel('data/state/us_state_naicssector_small_emplsize_2012.xls',skiprows=5,usecols=usecols_v1)
df_state[2012] = clean_v1(df_1)

df_1 = pd.read_excel('data/state/us_state_naicssector_small_emplsize_2011.xls',skiprows=4,usecols=usecols_v1)
df_state[2011] = clean_v1(df_1)

df_1 = pd.read_excel('data/state/us_naicssector_small_emplsize_2010.xls',skiprows=4,usecols=usecols_us_v1)
df_2 = pd.read_excel('data/state/state_naicssector_2010.xls',skiprows=4,usecols=usecols_v1)
df_state[2010] = pd.concat([clean_us_v1(df_1),clean_v1(df_2)])


df_1 = pd.read_excel('data/state/us_naicssector_small_emplsize_2009.xls',skiprows=4,usecols=usecols_us_v1)
df_2 = pd.read_excel('data/state/state_naicssector_2009.xls',skiprows=4,usecols=usecols_v1)
df_state[2009] = pd.concat([clean_us_v1(df_1),clean_v1(df_2)])

df_1 = pd.read_excel('data/state/us_naicssector_small_emplsize_2008.xls',skiprows=3,usecols=usecols_us_v1)
df_2 = pd.read_excel('data/state/state_naicssector_2008.xls',skiprows=3,usecols=usecols_v1)
df_state[2008] = pd.concat([clean_us_v1(df_1),clean_v1(df_2)])

df_1 = pd.read_excel('data/state/us_naicssector_small_emplsize_2007.xls',skiprows=4,usecols=usecols_us_v1)
df_2 = pd.read_excel('data/state/state_naicssector_2007.xls',skiprows=4,usecols=[0,1,2,3,6])
df_state[2007] = pd.concat([clean_us_v1(df_1),clean_v1(df_2)])

df_1 = pd.read_excel('data/state/us_naicssector_empl2500_2006.xls',skiprows=7,usecols=usecols_us_v2)
df_2 = pd.read_excel('data/state/state_naicssector_2006.xls',skiprows=7,usecols=usecols_v2)
df_state[2006] = pd.concat([clean_us_v2(df_1),clean_v2(df_2)])

df_1 = pd.read_excel('data/state/us_naicssector_empl2500_2005.xls',skiprows=7,usecols=usecols_us_v2)
df_2 = pd.read_excel('data/state/state_naicssector_2005.xls',skiprows=7,usecols=usecols_v2)
df_state[2005] = pd.concat([clean_us_v2(df_1),clean_v2(df_2)])

df_1 = pd.read_excel('data/state/us_naicssector_empl2500_2004.xls',skiprows=7,usecols=usecols_us_v2)
df_2 = pd.read_excel('data/state/state_naicssector_2004.xls',skiprows=7,usecols=usecols_v2)
df_state[2004] = pd.concat([clean_us_v2(df_1),clean_v2(df_2)])

df_1 = pd.read_excel('data/state/us_naicssector_empl2500_2003.xls',skiprows=7,usecols=usecols_us_v2)
df_2 = pd.read_excel('data/state/state_naicssector_2003.xls',skiprows=7,usecols=usecols_v2)
df_state[2003] = pd.concat([clean_us_v2(df_1),clean_v2(df_2)])

df_1 = pd.read_excel('data/state/us_naicssector_empl2500_2002.xls',skiprows=7,usecols=usecols_us_v2)
df_2 = pd.read_excel('data/state/state_naicssector_2002.xls',skiprows=7,usecols=usecols_v2)
df_state[2002] = pd.concat([clean_us_v2(df_1),clean_v2(df_2)])

df_1 = pd.read_excel('data/state/us_state_naicssector_empl2500_2001.xls',skiprows=7,usecols=usecols_v2)
df_state[2001] = clean_v2(df_1)

df_1 = pd.read_excel('data/state/us_state_naicssector_empl2500_2000.xls',skiprows=7,usecols=usecols_v2)
df_state[2000] = clean_v2(df_1)

df_1 = pd.read_excel('data/state/us_state_naicssector_empl2500_1999.xls',skiprows=7,usecols=usecols_v2)
df_state[1999] = clean_v2(df_1)

df_1 = pd.read_excel('data/state/us_state_naicssector_empl2500_1998.xls',skiprows=7,usecols=usecols_v2)
df_state[1998] = clean_v2(df_1)

- Get rid of useless data

In [ ]:
for year in range(year_start,2018):
    del df_state[year]['NAICS Description']
    df_state[year]['Total Employment'] = pd.to_numeric( df_state[year]['Total Employment'],downcast='integer',errors='coerce' )
    df_state[year] = df_state[year].dropna()
    df_state[year].set_index(['State','NAICS Code'],drop=True,inplace=True)
    df_state[year].rename(columns= {'Total Employment':'Total Employment - '+str(year)} ,inplace=True)
    #df_state[year].rename(columns= {'Total Employment':'Total Employment - '+str(year)} ,inplace=True)

## Save the cleaned data

In [ ]:
for year in range(1998,2018):
    df[year].to_csv('data/cleaned/state_naicssector_cleanedv2_totEmploy_'+str(year)+'.csv',index=False)