In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Read cleaned data

## MSA data

In [18]:
df = {}
for year in range(1998,2018):
    df[year] = pd.read_csv('data/cleaned/msa_naicssector_cleanedv2_totEmploy_'+str(year)+'.csv')

## State-country data

In [26]:
df_state = {}
for year in range(1998,2018):
    df_state[year] = pd.read_csv('data/cleaned/state_naicssector_cleanedv2_totEmploy_'+str(year)+'.csv')

# Merge data

## MSA

In [19]:
year_start = 1998
for year in range(year_start,2018):
    df[year] = df[year].set_index(['MSA','NAICS Code'],drop=True)
    
df_all = df[year_start]
for year in range(year_start+1,2018):
    df_all = pd.merge(df_all, df[year],how='inner' ,on=['MSA','NAICS Code'],copy=False )
    df_all.to_csv('data/draft/df_all_merge_'+str(year)+'.csv')

## state-country

In [22]:
df_state_all = df_state[year_start]
for year in range(year_start+1,2018):
    df_state_all = pd.merge(df_state_all, df_state[year],how='inner' ,on=['State','NAICS Code'],copy=False )

KeyError: 'State'

# Calculate PPC: point percent change

## MSA

In [ ]:
df_all_ppc=df_all[[]].copy()
for year in range(year_start,2017):
    df_all_ppc['TotEmp - P.P.C. - '+str(year)+'-'+str(year+1)] = \
    100*(df_all['Total Employment - '+str(year+1)]- df_all['Total Employment - '+str(year)])/df_all['Total Employment - '+str(year)]
    
df_all_ppc = df_all_ppc.T
df_all_ppc.index = list(range(year_start+1,2018))

## State-country

In [ ]:
df_state_all_ppc=df_state_all[[]].copy()
for year in range(year_start,2017):
    df_state_all_ppc['TotEmp - P.P.C. - '+str(year)+'-'+str(year+1)] =   100*(df_state_all['Total Employment - '+str(year+1)]-
                                                                          df_state_all['Total Employment - '+str(year)])/\
                                                                            df_state_all['Total Employment - '+str(year)]
    
df_state_all_ppc = df_state_all_ppc.T
df_state_all_ppc.index = list(range(year_start+1,2018))

## Compare MSA data to state and country data

In [ ]:
def ppc_relative( MSA,NAICS_code ):
    return (df_all_ppc[ (MSA,NAICS_code) ]-df_state_all_ppc[ ( abbr_to_state_dict[MSA_to_state_dict[MSA]] ,NAICS_code) ],
            df_all_ppc[ (MSA,NAICS_code) ]-df_state_all_ppc[ ( 'United States' ,NAICS_code) ] )

In [27]:
df_state[1998]

              State NAICS Code  Total Employment - 1998
0     United States         --              108117731.0
1     United States         11                 187149.0
2     United States         21                 497849.0
3     United States         22                 682227.0
4     United States         23                5798942.0
...             ...        ...                      ...
1047        Wyoming         56                   4684.0
1048        Wyoming         61                   1113.0
1049        Wyoming         62                  23694.0
1050        Wyoming         72                  22882.0
1051        Wyoming         95                    352.0

[1052 rows x 3 columns]