In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [18]:
df={}
columns = ['FIPS    CODE', 'MSA DESCRIPTION', 'NAICS   CODE ', 'NAICS DESCRIPTION',
       'ENTERPRISE EMPLOYMENT SIZE', 'NUMBER OF FIRMS',
       'NUMBER OF ESTABLISHMENTS', 'EMPLOYMENT', 'ANNUAL PAYROLL ($1,000)']

new_columns = ['FIPS Code', 'MSA Description', 'NAICS Code', 'NAICS Description',
       'Enterprise Employment Size', 'Number of Firms',
       'Number of Establishments', 'Employment', 'Annual Payroll ($1,000)']

In [5]:
# 2017
df_ = pd.read_excel('data/susb/msa_naicssector_2017.xlsx',skiprows=5)
df_ = df_.drop([0,1])
df_ = df_[columns]
df[2017] = df_.where( df_['ENTERPRISE EMPLOYMENT SIZE']=='01:  Total' ).dropna()

In [7]:
# 2016
df_ = pd.read_excel('data/susb/msa_naicssector_2016.xlsx',skiprows=5)
df_ = df_.drop([0,1])
df_ = df_[columns]
df[2016] = df_.where( df_['ENTERPRISE EMPLOYMENT SIZE']=='01:  Total' ).dropna()

In [8]:
# 2015
df_ = pd.read_excel('data/susb/msa_naicssector_2015.xlsx',skiprows=4)
df_ = df_.drop([0,1])
df_ = df_[columns]
df[2015] = df_.where( df_['ENTERPRISE EMPLOYMENT SIZE']=='01:  Total' ).dropna()

In [10]:
# 2014
df_ = pd.read_excel('data/susb/msa_naicssector_2014.xlsx',skiprows=4)
df_ = df_.drop([0,1])
df_ = df_[columns]
df[2014] = df_.where( df_['ENTERPRISE EMPLOYMENT SIZE']=='01:  Total' ).dropna()

In [12]:
# 2013
df_ = pd.read_excel('data/susb/msa_naicssector_2013.xlsx',skiprows=4)
df_ = df_.drop([0,1])
df_ = df_[columns]
df[2013] = df_.where( df_['ENTERPRISE EMPLOYMENT SIZE']=='01:  Total' ).dropna()

In [37]:
# 2012
df_ = pd.read_excel('data/susb/msa_naicssector_2012.xlsx',skiprows=5)
df_ = df_.drop([0,1])
df_ = df_[columns]
df[2012] = df_.where( df_['ENTERPRISE EMPLOYMENT SIZE']==df_['ENTERPRISE EMPLOYMENT SIZE'].iloc[0] ).dropna()

In [46]:
columns_old = ['FIPS MSA   CODE', 'MSA DESCRIPTION', 'NAICS   CODE ',
       'NAICS DESCRIPTION', 'ENTERPRISE EMPLOYMENT SIZE', 'NUMBER OF FIRMS',
       'NUMBER OF ESTABLISHMENTS', 'EMPLOYMENT',
       'ANNUAL PAYROLL ($1,000)',
       ]

In [57]:
# 2011 1
df_ = pd.read_excel('data/susb/msa_glensfallsny-owensboroky_naicssector_2011.xls',skiprows=5,usecols=[0,1,2,3,4,5,6,7,10])
df_ = df_.drop([0,1])
df_.columns = columns
df_1 = df_.where( df_['ENTERPRISE EMPLOYMENT SIZE']==df_['ENTERPRISE EMPLOYMENT SIZE'].iloc[0] ).dropna()

In [58]:
# 2011 2
df_ = pd.read_excel('data/susb/msa_owossomi-zanesvilleoh_naicssector_2011.xls',skiprows=5,usecols=[0,1,2,3,4,5,6,7,10])
df_ = df_.drop([0,1])
df_.columns = columns
df_2 = df_.where( df_['ENTERPRISE EMPLOYMENT SIZE']==df_['ENTERPRISE EMPLOYMENT SIZE'].iloc[0] ).dropna()

In [60]:
# 2011 3
df_ = pd.read_excel('data/susb/msa_abbevillela-glasgowky_naicssector_2011.xls',skiprows=5,usecols=[0,1,2,3,4,5,6,7,10])
df_ = df_.drop([0,1])
df_.columns = columns
df_3 = df_.where( df_['ENTERPRISE EMPLOYMENT SIZE']==df_['ENTERPRISE EMPLOYMENT SIZE'].iloc[0] ).dropna()

In [61]:
# 2011
df[2011] = pd.concat([df_3,df_1,df_2])

In [64]:
# 2010
df_ = pd.read_excel('data/susb/msa_naicssector_2010.xlsx',skiprows=5,usecols=[0,1,2,3,4,5,6,7,10])
df_ = df_.drop([0,1])
df_.columns = columns
df[2010] = df_.where( df_['ENTERPRISE EMPLOYMENT SIZE']==df_['ENTERPRISE EMPLOYMENT SIZE'].iloc[0] ).dropna()

In [66]:
# 2009
df_ = pd.read_excel('data/susb/msa_naicssector_2009.xlsx',skiprows=5,usecols=[0,1,2,3,4,5,6,7,10])
df_ = df_.drop([0,1])
df_.columns = columns
df[2009] = df_.where( df_['ENTERPRISE EMPLOYMENT SIZE']==df_['ENTERPRISE EMPLOYMENT SIZE'].iloc[0] ).dropna()

In [67]:
# 2008
df_ = pd.read_excel('data/susb/msa_abbevillela-glasgowky_naicssector_2008.xls',skiprows=5,usecols=[0,1,2,3,4,5,6,7,10])
df_ = df_.drop([0,1])
df_.columns = columns
df_1 = df_.where( df_['ENTERPRISE EMPLOYMENT SIZE']==df_['ENTERPRISE EMPLOYMENT SIZE'].iloc[0] ).dropna()

In [84]:
df_ = pd.read_excel('data/susb/msa_glensfallsny-owensboroky_naicssector_2008.xls',skiprows=5,usecols=[0,1,2,3,4,5,6,7,10])
df_ = df_.drop([0,1])
df_.columns = columns
df_2 = df_.where( df_['ENTERPRISE EMPLOYMENT SIZE']==df_['ENTERPRISE EMPLOYMENT SIZE'].iloc[0] ).dropna()

In [69]:
df_ = pd.read_excel('data/susb/msa_owossomi-zanesvilleoh_naicssector_2008.xls',skiprows=5,usecols=[0,1,2,3,4,5,6,7,10])
df_ = df_.drop([0,1])
df_.columns = columns
df_3 = df_.where( df_['ENTERPRISE EMPLOYMENT SIZE']==df_['ENTERPRISE EMPLOYMENT SIZE'].iloc[0] ).dropna()

In [70]:
df[2008] = pd.concat([df_1,df_2,df_3])

In [21]:
# 2007
df_ = pd.read_excel('data/susb/msa_abbevillela-glasgowky_naicssector_2007.xls',skiprows=5,usecols=[0,1,2,3,4,5,6,7,10])
df_ = df_.drop([0,1])
df_.columns = columns
df_1 = df_.where( df_['ENTERPRISE EMPLOYMENT SIZE']==df_['ENTERPRISE EMPLOYMENT SIZE'].iloc[0] ).dropna()

df_ = pd.read_excel('data/susb/msa_glensfallsny-owensboroky_naicssector_2007.xls',skiprows=5,usecols=[0,1,2,3,4,5,6,7,10])
df_ = df_.drop([0,1])
df_.columns = columns
df_2 = df_.where( df_['ENTERPRISE EMPLOYMENT SIZE']==df_['ENTERPRISE EMPLOYMENT SIZE'].iloc[0] ).dropna()

df_ = pd.read_excel('data/susb/msa_owossomi-zanesvilleoh_naicssector_2007.xls',skiprows=5,usecols=[0,1,2,3,4,5,6,7,10])
df_ = df_.drop([0,1])
df_.columns = columns
df_3 = df_.where( df_['ENTERPRISE EMPLOYMENT SIZE']==df_['ENTERPRISE EMPLOYMENT SIZE'].iloc[0]  ).dropna()

df[2007] = pd.concat([df_1,df_2,df_3])

TypeError: unsupported operand type(s) for &: 'str' and 'bool'

In [20]:
df[2007].head()

,FIPS CODE,MSA DESCRIPTION,NAICS CODE,NAICS DESCRIPTION,ENTERPRISE EMPLOYMENT SIZE,NUMBER OF FIRMS,NUMBER OF ESTABLISHMENTS,EMPLOYMENT,"ANNUAL PAYROLL ($1,000)"
2,10020,"Abbeville, LA Micropolitan Statistical Area",--,Total,01: Total,969,1037,10100,308439
11,10020,"Abbeville, LA Micropolitan Statistical Area",11,"Forestry, Fishing, Hunting, and Agriculture Su...",01: Total,11,11,47,1330
17,10020,"Abbeville, LA Micropolitan Statistical Area",21,Mining,01: Total,26,27,588,26926
25,10020,"Abbeville, LA Micropolitan Statistical Area",22,Utilities,01: Total,6,6,52,2458
32,10020,"Abbeville, LA Micropolitan Statistical Area",23,Construction,01: Total,97,99,0,0

In [80]:
# Saved the processed ones
for year in range(2007,2018):
    df[year].columns = new_columns
    df[year].to_csv('data/msa_naicssector_cleaned_tot_'+str(year)+'.csv')

KeyError: 2007

In [82]:
df[2008]

KeyError: 2008

In [ ]:
columns_v1 = ['FIPS Code', 'MSA Description', 'NAICS Code', 'NAICS Description',
       'Enterprise Employment Size', 'Number of Firms',
       'Number of Establishments', 'Employment', 'Annual Payroll ($1,000)']
columns_v2 = ['FIPS Code', 'MSA Description', 'NAICS Code', 'NAICS Description', 'Size Measure',
       'Total', '0-4', '5-9', '10-19', '20-99', '100-499', '500+']]

In [31]:
# 2006
df_ = pd.read_excel('data/susb/msa_abbevillela-lawrenceburgtn_naicssector_2006.xls',skiprows=8,usecols=list(range(6)))
#df_ = df_.drop([0,1])
#df_.columns = columns
#df_1 = df_.where( df_['ENTERPRISE EMPLOYMENT SIZE']==df_['ENTERPRISE EMPLOYMENT SIZE'].iloc[0] ).dropna()

#df_ = pd.read_excel('data/susb/msa_lawtonok-zanesvilleoh_naicssector_2006.xls',skiprows=8,usecols=list(range(12)))
#df_ = df_.drop([0,1])
#df_.columns = columns
#df_2 = df_.where( df_['ENTERPRISE EMPLOYMENT SIZE']==df_['ENTERPRISE EMPLOYMENT SIZE'].iloc[0] ).dropna()

#df[2006] = pd.concat([df_1,df_2])

In [32]:
#pd.pivot(df_,index = 
#df_.stack( ['TOTAL', '0-4', '5-9', '10-19', '20-99', '100-499', '500+'] )
#df_.columns
df_.head()

,CODE,MSA DESCRIPTION,CODE.1,NAICS DESCRIPTION,DATA TYPE,TOTAL
0,10020,"Abbeville, LA Micropolitan Statistical Area",--,Total,Firms,932
1,10020,"Abbeville, LA Micropolitan Statistical Area",--,Total,Establishments,994
2,10020,"Abbeville, LA Micropolitan Statistical Area",--,Total,Employment,9829
3,10020,"Abbeville, LA Micropolitan Statistical Area",--,Total,"Annual Payroll ($1,000)",286576
4,10020,"Abbeville, LA Micropolitan Statistical Area",11,"Forestry, Fishing, Hunting, and Agriculture Su...",Firms,9

In [12]:
df_.columns

Index(['CODE', 'MSA DESCRIPTION', 'CODE.1', 'NAICS DESCRIPTION', 'DATA TYPE',
       'TOTAL', '0-4', '5-9', '10-19', '20-99', '100-499', '500+'],
      dtype='object')

In [83]:
df[2006].head()

KeyError: 2006