In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df={}

# for years 2007-2017
usecols_v1 = [0,1,2,3,4,7]
columns_v1 = ['FIPS Code', 'MSA Description', 'NAICS Code', 'NAICS Description',
       'Enterprise Employment Size',
        'Employment']

# for years 1998-2007
usecols_v2 = list(range(6))
columns_v2 = ['FIPS Code', 'MSA Description', 'NAICS Code', 
              'NAICS Description', 'Size Measure', 'Total']

In [3]:
# for years 2007-2017
def clean_v1(df_y):
    df_y = df_y.drop([0,1])
    df_y.columns = columns_v1
    df_y = df_y.where( df_y['Enterprise Employment Size']== df_y['Enterprise Employment Size'].iloc[0] ).dropna()
    df_y.rename(columns={'Employment':'Total Employment'},inplace=True)
    del df_y['Enterprise Employment Size']
    return df_y

# for years 1998-2007
def clean_v2(df_y):
    #df_y = df_y.drop([0,1])
    df_y.columns = columns_v2
    #df_y['FIPS Code'] = df_y['FIPS Code'].astype('int64')
    df_y = df_y.where( df_y['Size Measure']== 'Employment' ).dropna()
    del df_y['Size Measure']
    df_y.rename(columns={'Total':'Total Employment'},inplace=True)
    return df_y

# for 1997
def clean_v3(df_y):
    #df_y = df_y.drop([0,1])
    df_y.columns = columns_v2
    #df_y['FIPS Code'] = pd.to_numeric(df_y['FIPS Code'],downcast='integer',errors='coerce') #astype('int64')
    df_y['NAICS Code'] = df_y['NAICS Code'].map(lambda x: x[:2])
    df_y = df_y.where( df_y['Size Measure']== 'Employment' ).dropna()
    del df_y['Size Measure']
    df_y.rename(columns={'Total':'Total Employment'},inplace=True)
    return df_y

In [ ]:
df_1 = pd.read_excel('data/msa/msa_naicssector_2017.xlsx',skiprows=5,usecols=usecols_v1)
df[2017] = clean_v1(df_1)

df_1 = pd.read_excel('data/msa/msa_naicssector_2016.xlsx',skiprows=5,usecols=usecols_v1)
df[2016] = clean_v1(df_1)

df_1 = pd.read_excel('data/msa/msa_naicssector_2015.xlsx',skiprows=4,usecols=usecols_v1)
df[2015] = clean_v1(df_1)

df_1 = pd.read_excel('data/msa/msa_naicssector_2014.xlsx',skiprows=4,usecols=usecols_v1)
df[2014] = clean_v1(df_1)

df_1 = pd.read_excel('data/msa/msa_naicssector_2013.xlsx',skiprows=4,usecols=usecols_v1)
df[2013] = clean_v1(df_1)

df_1 = pd.read_excel('data/msa/msa_naicssector_2012.xlsx',skiprows=5,usecols=usecols_v1)
df[2012] = clean_v1(df_1)

df_1 = pd.read_excel('data/msa/msa_abbevillela-glasgowky_naicssector_2011.xls',skiprows=5,usecols=usecols_v1)
df_2 = pd.read_excel('data/msa/msa_glensfallsny-owensboroky_naicssector_2011.xls',skiprows=5,usecols=usecols_v1)
df_3 = pd.read_excel('data/msa/msa_owossomi-zanesvilleoh_naicssector_2011.xls',skiprows=5,usecols=usecols_v1)
df[2011] = pd.concat([clean_v1(df_1),clean_v1(df_2),clean_v1(df_3)])

df_1 = pd.read_excel('data/msa/msa_naicssector_2010.xlsx',skiprows=5,usecols=usecols_v1)
df[2010] = clean_v1(df_1)

df_1 = pd.read_excel('data/msa/msa_naicssector_2009.xlsx',skiprows=5,usecols=usecols_v1)
df[2009] = clean_v1(df_1)

df_1 = pd.read_excel('data/msa/msa_abbevillela-glasgowky_naicssector_2008.xls',skiprows=5,usecols=usecols_v1)
df_2 = pd.read_excel('data/msa/msa_glensfallsny-owensboroky_naicssector_2008.xls',skiprows=5,usecols=usecols_v1)
df_3 = pd.read_excel('data/msa/msa_owossomi-zanesvilleoh_naicssector_2008.xls',skiprows=5,usecols=usecols_v1)
df[2008] = pd.concat([clean_v1(df_1),clean_v1(df_2),clean_v1(df_3)])

df_1 = pd.read_excel('data/msa/msa_abbevillela-glasgowky_naicssector_2007.xls',skiprows=5,usecols=usecols_v1)
df_2 = pd.read_excel('data/msa/msa_glensfallsny-owensboroky_naicssector_2007.xls',skiprows=6,usecols=usecols_v1)
df_3 = pd.read_excel('data/msa/msa_owossomi-zanesvilleoh_naicssector_2007.xls',skiprows=5,usecols=usecols_v1)
df[2007] = pd.concat([clean_v1(df_1),clean_v1(df_2),clean_v1(df_3)])

In [ ]:
df_1 = pd.read_excel('data/msa/msa_abbevillela-lawrenceburgtn_naicssector_2006.xls',skiprows=8,usecols=usecols_v2)
df_2 = pd.read_excel('data/msa/msa_lawtonok-zanesvilleoh_naicssector_2006.xls',skiprows=8,usecols=usecols_v2)
df[2006] = pd.concat([clean_v2(df_1),clean_v2(df_2)])

df_1 = pd.read_excel('data/msa/msa_abbevillela-lawrenceburgtn_naicssector_2005.xls',skiprows=8,usecols=usecols_v2)
df_2 = pd.read_excel('data/msa/msa_lawtonok-zanesvilleoh_naicssector_2005.xls',skiprows=8,usecols=usecols_v2)
df[2005] = pd.concat([clean_v2(df_1),clean_v2(df_2)])

df_1 = pd.read_excel('data/msa/msa_abbevillela-lawrenceburgtn_naicssector_2004.xls',skiprows=8,usecols=usecols_v2)
df_2 = pd.read_excel('data/msa/msa_lawtonok-zanesvilleoh_naicssector_2004.xls',skiprows=8,usecols=usecols_v2)
df[2004] = pd.concat([clean_v2(df_1),clean_v2(df_2)])

df_1 = pd.read_excel('data/msa/msa_abbevillela-lawrenceburgtn_naicssector_2003.xls',skiprows=8,usecols=usecols_v2)
df_2 = pd.read_excel('data/msa/msa_lawtonok-zanesvilleoh_naicssector_2003.xls',skiprows=8,usecols=usecols_v2)
df[2003] = pd.concat([clean_v2(df_1),clean_v2(df_2)])

df_1 = pd.read_excel('data/msa/msa_abilenetx-lansingmi_naicssector_2002.xls',skiprows=7,usecols=usecols_v2)
df_2 = pd.read_excel('data/msa/msa_laredotx-yumaaz_naicssector_2002.xls',skiprows=7,usecols=usecols_v2)
df[2002] = pd.concat([clean_v2(df_1),clean_v2(df_2)])

df_1= pd.read_excel('data/msa/msa_naicssector_2001.xls',skiprows=7,usecols=usecols_v2)
df[2001] = clean_v2(df_1)

df_1= pd.read_excel('data/msa/msa_naicssector_2000.xls',skiprows=7,usecols=usecols_v2)
df[2000] = clean_v2(df_1)

df_1= pd.read_excel('data/msa/msa_naicssector_1999.xls',skiprows=7,usecols=usecols_v2)
df[1999] = clean_v2(df_1)

df_1= pd.read_excel('data/msa/msa_naicssector_1998.xls',skiprows=7,usecols=usecols_v2)
df[1998] = clean_v2(df_1)

df_1= pd.read_excel('data/msa/msa_sicmajorindustry_1997.xls',skiprows=7,usecols=usecols_v2)
df[1997] = clean_v3(df_1)

In [ ]:
# Save the processed ones
for year in range(1997,2018):
    df[year].to_csv('data/cleaned/msa_naicssector_cleaned_totEmploy_'+str(year)+'.csv',index=False)

In [ ]:
year=2007
df[year].to_csv('data/cleaned/msa_naicssector_cleaned_totEmploy_'+str(year)+'.csv',index=False)

In [ ]:
df_1 = pd.read_excel('data/msa/msa_abbevillela-glasgowky_naicssector_2007.xls',skiprows=5,usecols=usecols_v1)
df_2 = pd.read_excel('data/msa/msa_glensfallsny-owensboroky_naicssector_2007.xls',skiprows=6,usecols=usecols_v1)
df_3 = pd.read_excel('data/msa/msa_owossomi-zanesvilleoh_naicssector_2007.xls',skiprows=5,usecols=usecols_v1)
df[2007] = pd.concat([clean_v1(df_1),clean_v1(df_2),clean_v1(df_3)])

In [ ]:
df_2

# Individual MSA

In [21]:
year = 2008

In [22]:
df_1 = pd.read_excel('data/msa/msa_abbevillela-glasgowky_naicssector_2008.xls',skiprows=4,usecols=usecols_v1)
df_2 = pd.read_excel('data/msa/msa_glensfallsny-owensboroky_naicssector_2008.xls',skiprows=4,usecols=usecols_v1)
df_3 = pd.read_excel('data/msa/msa_owossomi-zanesvilleoh_naicssector_2008.xls',skiprows=4,usecols=usecols_v1)
df[2008] = pd.concat([clean_v1(df_1),clean_v1(df_2),clean_v1(df_3)])

In [23]:
# Save the processed ones
for year in range(year,year+1):
    df[year].to_csv('data/cleaned/msa_naicssector_cleaned_totEmploy_'+str(year)+'.csv',index=False)

In [19]:
df[2008]
#df_1

,MSA Description,NAICS Code,Total Employment - 2008
2,"Abbeville, LA Micropolitan Statistical Area",--,10120
11,"Abbeville, LA Micropolitan Statistical Area",11,0
17,"Abbeville, LA Micropolitan Statistical Area",21,494
26,"Abbeville, LA Micropolitan Statistical Area",22,0
32,"Abbeville, LA Micropolitan Statistical Area",23,0
...,...,...,...
48006,"Zanesville, OH Micropolitan Statistical Area",62,6482
48015,"Zanesville, OH Micropolitan Statistical Area",71,267
48024,"Zanesville, OH Micropolitan Statistical Area",72,3129
48033,"Zanesville, OH Micropolitan Statistical Area",81,1601
48042,"Zanesville, OH Micropolitan Statistical Area",99,0